{{#link-to 'article' article.id}}
  <div class="row">
    <div class="col-md-6">
      <img src={{article.image}} alt={{article.title}} class="img-responsive">
    </div>
    <div class="col-md-6">
      <h3>{{article.title}}</h3>
      <p id="body-partal">{{partal article.body}}</p>
      <p id="footer" class="pull-left">by {{article.author}}</p>
      <p id="footer" class="pull-right">{{article.date}}</p>
    </div>
  </div>
{{/link-to}}
