<div class="well">
  <h2>{{article.title}}</h2>
  <div class="detail-img">
    <img src={{article.image}} class="img-responsive" >
  </div>
  <p>By {{article.author}} | {{article.date}}</p>
  <p>{{article.body}}</p>
  {{outlet}}
</div>
